html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; }

body {
  background: url("../img/landingBackground.jpg");
  background-size: cover; }

#root {
  width: 100%;
  min-height: 100%; }

@media screen and (min-width: 700px) {
  div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%; }
  div.about {
    flex-grow: 1; }
    div.about h1 {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      margin: auto;
      width: 80%; }
  div.signup {
    background: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    width: 20rem;
    color: #fff; } }

@media screen and (max-width: 500px) {
  div.container {
    width: 100%; }
  div.signup {
    width: 100%;
    color: #fff;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); }
  div.about {
    display: none; } }

nav {
  z-index: 100; }

#login {
  width: 100%;
  position: absolute;
  width: 20rem;
  background-color: #555555;
  transform: translate3d(0, -100%, 0);
  transition: all 1s ease-out;
  visibility: hidden;
  padding: 1rem;
  z-index: 99; }
  #login input {
    margin-top: 0.5rem;
    background-color: #555555;
    color: #fff; }
    #login input::placeholder {
      color: #aaa; }
  #login button {
    width: 100%;
    margin-top: 0.5rem; }
  #login.show {
    transform: translate3d(0, 0, 0);
    visibility: visible; }

@media screen and (max-width: 500px) {
  #login {
    width: 100vw; } }

.signup-form-container {
  width: 20rem;
  padding: 1rem;
  min-height: 100vh; }
  .signup-form-container label {
    color: #fff;
    margin-top: 1rem; }
  .signup-form-container input {
    background-color: rgba(255, 255, 255, 0); }
    .signup-form-container input:focus {
      background-color: rgba(255, 255, 255, 0); }
  .signup-form-container p {
    color: #aaa;
    font-size: 0.8rem;
    margin-top: 0.7rem; }
    .signup-form-container p a {
      color: #d9534f; }

.hidden-labcode {
  display: none !important; }

.switcher {
  width: 100%;
  height: 10vh; }

.switcher-option {
  width: 50%;
  float: left;
  height: 100%;
  background-color: #555; }
  .switcher-option a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 10vh; }
    .switcher-option a:hover {
      color: #fff;
      text-decoration: none; }

.selected {
  background-color: #d9534f; }

.hidden {
  display: none; }

@media screen and (max-width: 500px) {
  .signup-form-container {
    margin: auto; } }
